<div class="container mx-auto px-6 text-center md:pt-20 pb-52">
    <div class="flex flex-col justify-center items-center md:flex-row">
        <img src="./../../../assets/images/forms.svg" class="w-60 h-60" alt="">
        <div class="m-4">
            <h1 class="max-w-2xl mx-auto mb-10 text-3xl font-bold leading-normal mt-14 md:text-6xl">
                Angular Forms For All
            </h1>
            <p class="max-w-sm mx-auto mb-10 md:max-w-xl md:text-2xl">
                A simple project to learn Angular forms,
                it is a simple start guide to learn template-driven and reactive-forms
            </p>
        </div>
    </div>
</div>
