<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
        <div>
            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <p class="font-medium text-lg">Account Details</p>
                        <p>Please fill out all the fields.</p>
                        <p class="text-blue-700">Form control and form group example</p>
                    </div>

                    <div class="lg:col-span-2">
                        <form>
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                <div class="md:col-span-5">
                                    <label for="full_name">Full Name</label>
                                    <input
                                        type="text"
                                        name="full_name"
                                        id="full_name"
                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" />
                                </div>

                                <div class="md:col-span-5">
                                    <label for="email">Email Address</label>
                                    <input
                                        type="text"
                                        name="email"
                                        id="email"
                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                        placeholder="email@domain.com" />
                                </div>

                                <div class="md:col-span-5">
                                    <label for="email">Password</label>
                                    <input
                                        type="password"
                                        name="password"
                                        id="password"
                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                        placeholder="password" />
                                </div>

                                <div class="md:col-span-5">
                                    <label for="email">Retype Password</label>
                                    <input
                                        type="password"
                                        name="rePassword"
                                        id="rePassword"
                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                        placeholder="re type previous password" />
                                </div>

                                <div class="md:col-span-5">
                                    <label for="userLevel">User access level</label>
                                    <select id="userLevel" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                                      <option selected>Choose a level</option>
                                      <option value="US">Administrator</option>
                                      <option value="CA">Manager</option>
                                      <option value="FR">Dev Ops</option>
                                      <option value="DE">Developer</option>
                                    </select>
                                </div>

                                <div class="md:col-span-5">
                                    <p class="mb-1">Select your age</p>
                                    <div class="flex items-center mb-2 ml-4">
                                        <input
                                            id="default-radio-1"
                                            type="radio"
                                            value="15"
                                            name="age"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900">15 - 25</label>
                                    </div>
                                    <div class="flex items-center mb-2 ml-4">
                                        <input
                                            checked
                                            id="default-radio-2"
                                            type="radio"
                                            value="26"
                                            name="age"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-900">26 - 35</label>
                                    </div>
                                    <div class="flex items-center mb-2 ml-4">
                                        <input
                                            id="default-radio-3"
                                            type="radio"
                                            value="36"
                                            name="age"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="default-radio-3" class="ms-2 text-sm font-medium text-gray-900">36 - 45</label>
                                    </div>
                                    <div class="flex items-center mb-2 ml-4">
                                        <input
                                            id="default-radio-4"
                                            type="radio"
                                            value="46"
                                            name="age"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="default-radio-4" class="ms-2 text-sm font-medium text-gray-900">46 - 55</label>
                                    </div>
                                </div>

                                <div class="border-slate-500 rounded md:col-span-5 mb-6 pr-10">
                                    <hr>
                                    <div class="flex justify-between mt-2 px-4">
                                        <p class="font-medium text-lg">Address</p>
                                        <img
                                            src="../../../assets/images/plus.png"
                                            alt="Add new address"
                                            class="w-8 cursor-pointer">
                                    </div>
                                    <ng-container>
                                        <ng-container>
                                            <div class="border-slate-500 rounded md:col-span-5 mb-6 pr-10">
                                                <div class="md:col-span-5 pl-4 pt-4">
                                                    <div class="flex justify-between">
                                                        <label for="street">Street</label>
                                                        <img
                                                            src="../../../assets/images/trash.svg"
                                                            alt="remove address"
                                                            class="cursor-pointer">
                                                    </div>
                                                    <input
                                                        type="text"
                                                        name="street"
                                                        id="street"
                                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                                        placeholder="street" />
                                                </div>
                                                <div class="md:col-span-5 pl-4 pt-4">
                                                    <label for="city">City</label>
                                                    <input
                                                        type="text"
                                                        name="city"
                                                        id="city"
                                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                                        placeholder="city" />
                                                </div>
                                                <div class="md:col-span-5 pl-4 pt-4 mb-4">
                                                    <label for="country">Country</label>
                                                    <input
                                                        type="text"
                                                        name="country"
                                                        id="country"
                                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                                        placeholder="country" />
                                                </div>
                                            </div>
                                            <hr>
                                        </ng-container>
                                    </ng-container>
                                </div>

                                <div class="md:col-span-5 mt-5">
                                    <input
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                        type="checkbox"
                                        id="acceptAll" />
                                    <label
                                        class="pl-2 hover:cursor-pointer"
                                        for="acceptAll">
                                        Accept all terms & conditions
                                    </label>
                                </div>

                                <div class="md:col-span-5 text-right mt-10">
                                    <div class="flex justify-end">
                                        <button
                                            type="button"
                                            class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mr-2">
                                            Load data
                                        </button>
                                        <button
                                            type="button"
                                            class="bg-red-300 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-2"
                                            (click)="onClear()">
                                            Clear
                                        </button>
                                        <button
                                            type="button"
                                            class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mr-2"
                                            (click)="onCancel()">
                                            Cancel
                                        </button>
                                        <button class="bg-blue-500 hover:bg-blue-700 text-gray-900 font-bold py-2 px-4 rounded">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                                <div class="mb-[0.125rem] block min-h-[1.5rem] mt-5">
                                    <input
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                        type="checkbox"
                                        id="showValues"
                                        [checked]="showValues"
                                        (input)="onShowValues($event)" />
                                    <label
                                        class="inline-block pl-2 hover:cursor-pointer"
                                        for="showValues">
                                        Show values
                                    </label>
                                </div>
                            </div>
                        </form>

                        <ng-container *ngIf="showValues">
                            <div class="relative mt-4 flex py-1 items-center">
                                <div class="flex-grow border-t border-gray-400"></div>
                                <span class="flex-shrink mx-4 text-gray-400">Values</span>
                                <div class="flex-grow border-t border-gray-400"></div>
                            </div>

                            <div class="self-center text-xl sm:text-sm text-gray-800">
                            </div>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
